@{
    ViewData["Title"] = "Acerca De";
}
<h1>@ViewData["Title"]</h1>

<p>Página en mantenimiento.</p>

<div class="text-center">
    <img src="~/Images/mantWeb.png" width="380" height="380" class="imglogo" />
</div>
